django==3.1.2
djangorestframework==3.12.1
django-cors-headers==3.5.0  # allow request from another domain (api)
django-crispy-forms==1.9.2  # build forms fast
django-cleanup==5.1.0  # avoid duplications in the file system

pillow==8.0.1  # resize images and save them