{% extends "base.html" %}

{% block sidebar %}
  {% include "console/sidebar.html" %}
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Post Configurations</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Deactivate Command</a>
  </div>
  <p class="mb-4">
    Configurations for the <strong>post command</strong>, edit the parameters to change the graphic aspect of the generated post!
  </p>

  <!-- Collapsable Card -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Spot Configuration</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse" id="collapseCardExample">
      <div class="card-body">
        <h3>Edit configs for Spot</h3>
        {% crispy form %}

      </div>
    </div>
  </div>

{% endblock %}